head, body {
        background-color: white;
        font-family: Serif;
        text-align: center;
        font-size: 18px;
}

header {
        text-align: left;
        font-family: serif;
}

.container, .navbar-header {
        display: flex;
        justify-content:center; 
        font-size: 18px;
}

h4 {
        text-align: center;
}

.box-model {
        text-align: left;
        width: 520px;
        padding: 10px;
        border: 5px solid gray;
        margin: 0;

}

